@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.logo {
    margin-right: auto;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: #0A99FE;
    font-size: 20px;
    font-weight: normal;
    background-color: #0A99FE1A;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.button:hover {
    background-color: #0A99FE;
    color: #e7eff8
}

.title {
    font-size: 20px;
    font-weight: normal;
    color: #1b1b1b;
    margin-left: 20px;
    margin-bottom: 10px;
}

.card {
    background-color: #e4e0e0f6;
    text-align: center;
    flex: 0 0 207px;
    width: 207em;
    height: 275px;
    margin: 10px;
    border-radius: 10px;
}

.card .image {
    width: 100%;
    height: 60%;
    object-fit: fill;
    border-radius: 10px 10px 0 0;
}

.card .name {
    margin-top: 25px;
    font-size: 20px;
    font-weight: medium;
    color: #1B1B1B;
}

.card .price {
    margin-top: 25px;
    font-size: 16px;
    color: #868383;
}

.paintings-list,
.actionFigures-list {
    display: flex;
    overflow-x: auto;
}